.treeselect-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 40px 2px 4px;
  position: relative;
  min-height: 37px;
  background-color: #fff;
  cursor: text;
}
.treeselect-input--unsearchable {
  cursor: default;
}
.treeselect-input--unsearchable .treeselect-input__edit {
  caret-color: transparent;
  cursor: default;
}
.treeselect-input--unsearchable .treeselect-input__edit:focus {
  position: absolute;
  z-index: -1;
  left: 0;
  min-width: 0;
  width: 0;
}
.treeselect-input--value-not-selected .treeselect-input__edit,
.treeselect-input--value-not-selected.treeselect-input--unsearchable
  .treeselect-input__edit:focus {
  z-index: auto;
  position: static;
  width: 100%;
  max-width: 100%;
}
.treeselect-input--value-not-selected .treeselect-input__tags {
  gap: 0;
}
[dir="rtl"] .treeselect-input {
  padding-right: 4px;
  padding-left: 40px;
}
[dir="rtl"] .treeselect-input__operators {
  right: unset;
  left: 2px;
}
.treeselect-input__tags {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.treeselect-input__tags-element {
  display: inline-flex;
  align-items: center;
  background-color: #d7dde4;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 14px;
  max-width: 100%;
  box-sizing: border-box;
}
.treeselect-input__tags-element:hover {
  background-color: #c5c7cb;
}
.treeselect-input__tags-element:hover .treeselect-input__tags-cross svg {
  stroke: #eb4c42;
}
.treeselect-input__tags-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.treeselect-input__tags-cross {
  display: flex;
  margin-left: 2px;
}
.treeselect-input__tags-cross svg {
  width: 12px;
  height: 12px;
}
.treeselect-input__tags-count {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.treeselect-input__edit {
  flex: 1;
  border: none;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 100%;
  max-width: calc(100% - 45px);
  padding: 0;
  position: absolute;
  z-index: -1;
  min-width: 0;
}
.treeselect-input__edit:focus {
  outline: none;
  min-width: 30px;
  max-width: 100%;
  z-index: auto;
  position: static;
}
.treeselect-input__operators {
  display: flex;
  max-width: 40px;
  position: absolute;
  right: 2px;
}
.treeselect-input__clear {
  display: flex;
  cursor: pointer;
}
.treeselect-input__clear svg {
  stroke: #c5c7cb;
  width: 17px;
  min-width: 17px;
  height: 20px;
}
.treeselect-input__clear:hover svg {
  stroke: #838790;
}
.treeselect-input__arrow {
  display: flex;
  cursor: pointer;
}
.treeselect-input__arrow svg {
  stroke: #c5c7cb;
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.treeselect-input__arrow:hover svg {
  stroke: #838790;
}
.treeselect-list {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7dde4;
  overflow-y: auto;
  background-color: #fff;
  max-height: 300px;
}
.treeselect-list__group-container {
  box-sizing: border-box;
}
.treeselect-list__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
}
.treeselect-list__item:focus {
  outline: none;
}
.treeselect-list__item--focused {
  background-color: azure !important;
}
.treeselect-list__item--hidden {
  display: none;
}
.treeselect-list__item-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
  min-width: 20px;
}
.treeselect-list__item-icon svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  stroke: #c5c7cb;
}
.treeselect-list__item-icon * {
  pointer-events: none;
}
.treeselect-list__item-icon:hover svg {
  stroke: #838790;
}
.treeselect-list__item-checkbox-container {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  position: relative;
  background-color: #fff;
  pointer-events: none;
  box-sizing: border-box;
}
.treeselect-list__item-checkbox-container svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.treeselect-list__item-checkbox {
  margin: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}
.treeselect-list__item-checkbox-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: left;
}
.treeselect-list__item-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 5px;
  pointer-events: none;
  text-align: left;
}
.treeselect-list__item-label-counter {
  margin-left: 3px;
  color: #838790;
  font-size: 13px;
}
.treeselect-list__empty {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 4px;
}
.treeselect-list__empty--hidden {
  display: none;
}
.treeselect-list__empty-icon {
  display: flex;
  align-items: center;
}
.treeselect-list__empty-text {
  font-size: 14px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.treeselect-list__slot {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  background-color: #fff;
}
.treeselect-list.treeselect-list--single-select
  .treeselect-list__item-checkbox-container,
.treeselect-list.treeselect-list--disabled-branch-node
  .treeselect-list__item--group
  .treeselect-list__item-checkbox-container {
  display: none;
}
.treeselect-list__item--checked {
  background-color: #e9f1f1;
}
.treeselect-list.treeselect-list--single-select
  .treeselect-list__item--checked {
  background-color: transparent;
}
.treeselect-list.treeselect-list--single-select
  .treeselect-list__item--single-selected {
  background-color: #e9f1f1;
}
.treeselect-list__item .treeselect-list__item-checkbox-container svg {
  stroke: transparent;
}
.treeselect-list__item--checked .treeselect-list__item-checkbox-container svg,
.treeselect-list__item--partial-checked
  .treeselect-list__item-checkbox-container
  svg {
  stroke: #fff;
}
.treeselect-list__item--checked .treeselect-list__item-checkbox-container,
.treeselect-list__item--partial-checked
  .treeselect-list__item-checkbox-container {
  background-color: #52c67e;
}
.treeselect-list__item--disabled .treeselect-list__item-checkbox-container {
  background-color: #e9f1f1;
}
.treeselect-list__item--disabled .treeselect-list__item-label {
  color: #c5c7cb;
}
[dir="rtl"] .treeselect-list__item-checkbox-icon {
  text-align: right;
}
[dir="rtl"] .treeselect-list__item-label {
  text-align: right;
  padding-right: 5px;
  padding-left: unset;
}
[dir="rtl"] .treeselect-list__item--closed .treeselect-list__item-icon {
  transform: rotate(180deg);
}
[dir="rtl"] .treeselect-list__empty {
  padding-right: 4px;
  padding-left: unset;
}
[dir="rtl"] .treeselect-list__empty-text {
  padding-right: 5px;
  padding-left: unset;
}
.treeselect {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.treeselect--disabled {
  pointer-events: none;
}
.treeselect-list {
  position: absolute;
  left: 0;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1000;
}
.treeselect .treeselect-list {
  position: absolute;
}
.treeselect .treeselect-list--static {
  position: static;
}
.treeselect-input--focused {
  border-color: #101010;
}
.treeselect-input--opened.treeselect-input--top {
  border-top-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.treeselect-input--opened.treeselect-input--bottom {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.treeselect-list--focused {
  border-color: #101010;
}
.treeselect-list--top,
.treeselect-list--top-to-body {
  border-bottom-color: #d7dde4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.treeselect-list--bottom,
.treeselect-list--bottom-to-body {
  border-top-color: #d7dde4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.treeselect-list--top {
  left: 0;
  bottom: 100%;
}
.treeselect-list--bottom {
  left: 0;
  top: 100%;
}
.leaflet-ruler {
  height: 48px;
  width: 48px;
  background-image: url("../assets/img/measure.png");
  background-repeat: no-repeat;
  background-position: center;
}
.leaflet-ruler:hover {
  background-image: url("../assets/img/measure-colored.png");
  cursor: pointer;
}
.leaflet-ruler-clicked {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/img/measure-colored.png");
  border-color: darkblue !important;
}
.leaflet-bar {
  background-color: #ffffff;
  cursor: pointer;
}
.leaflet-control {
  cursor: pointer;
}
.result-tooltip {
  background-color: white;
  border-width: medium;
  border-color: darkblue;
  font-size: smaller;
}
.moving-tooltip {
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: darkblue;
  font-size: smaller;
}
.plus-length {
  padding-left: 45px;
}
.fullscreen-icon {
  background-image: url("../assets/img/icon-fullscreen.svg");
  background-size: 26px 52px;
}
.leaflet-control-zoom-reset {
  background-image: url("../assets/img/zoom-to-start.png");
}
.fullscreen-icon.leaflet-fullscreen-on {
  background-position: 0 -26px;
}
.leaflet-touch .fullscreen-icon {
  background-position: 2px 2px;
}
.leaflet-touch .fullscreen-icon.leaflet-fullscreen-on {
  background-position: 2px -24px;
}
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}
.leaflet-container:fullscreen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
}
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-control-weather {
  color: white;
  font-weight: bolder;
  background: lightslategray;
  opacity: 0.65;
  font-size: 0.75em;
  width: 185px;
}
.leaflet-control-weather .weatherButton {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
}
.leaflet-control-weather .collapseButtonWeather {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  border-top: 1px black dotted;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.leaflet-control-weather .weatherIcon {
  float: left;
  border: 2px solid lightslategray;
  font-size: 2.5em;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 7px;
}
.leaflet-control-weather .weatherIcon img {
  max-width: 100% !important;
}
.leaflet-control-weather h4 {
  font-size: 1.5em;
}
.leaflet-control-country-player {
  color: white;
  font-weight: bolder;
  background: lightslategray;
  opacity: 0.65;
  font-size: 0.75em;
  width: 185px;
  vertical-align: middle;
}
.leaflet-control-country-player .playerButton {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
}
.leaflet-control-country-player .playerCountriesSelect {
  min-width: 185px;
  background-color: lightslategray;
  opacity: 0.8;
  color: black;
  text-align: center;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 3px;
}
.leaflet-control-country-player .playerCountriesSelect #playerCountriesSelect {
  cursor: pointer;
}
.leaflet-control-country-player .collapseButtonCountryPlayer {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  border-top: 1px black dotted;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.leaflet-control-country-player .playerFooter {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
}
.leaflet-control-country-player .playerButtonStart {
  float: left;
  border: 0px solid white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.leaflet-control-country-player .playerButtonEnd {
  float: left;
  border: 0px solid white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: blue;
}
.leaflet-control-country-player .playerButtonPause {
  float: left;
  border: 0px solid white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.leaflet-control-country-player .playerDelaySelect {
  margin-left: 3px;
  font-size: 13px;
  width: 62px;
  height: 16px;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
}
.leaflet-control-country-player #playerSelectLabel {
  margin-left: 3px;
  border: 0px solid white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 3px;
}
.leaflet-control-scalefactor {
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;

  background: #ffffffb3;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
}
.leaflet-control-scalefactor.leaflet-control {
  margin-left: 5px;
}
.leaflet-contextmenu {
  display: none;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 0;
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
  display: block;
  color: #222;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  padding: 0 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: default;
  outline: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
  opacity: 0.5;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
  background-color: #f4f4f4;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
  background-color: inherit;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.leaflet-contextmenu-icon {
  margin: 2px 8px 0 0;
  width: 16px;
  height: 16px;
  float: left;
  border: 0;
}
.leaflet-contextmenu-separator {
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}
.leaflet-notification {
  width: 320px;
  min-height: 50px;
  padding: 10px;
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
  transition: opacity 0.3s ease;
  display: table;
  opacity: 0;
}
.leaflet-notification.dismissable {
  cursor: pointer;
}
.leaflet-notification.alert > .leaflet-notification-icon > i,
.leaflet-notification.alert > .leaflet-notification-close-button {
  color: rgb(138, 7, 20);
}
.leaflet-notification.info > .leaflet-notification-icon > i,
.leaflet-notification.info > .leaflet-notification-close-button {
  color: rgb(55, 134, 170);
}
.leaflet-notification.success > .leaflet-notification-icon > i,
.leaflet-notification.success > .leaflet-notification-close-button {
  color: rgb(48, 131, 51);
}
.leaflet-notification.warning > .leaflet-notification-icon > i,
.leaflet-notification.warning > .leaflet-notification-close-button {
  color: rgb(197, 103, 2);
}
.leaflet-notification.custom > .leaflet-notification-icon > i,
.leaflet-notification.custom > .leaflet-notification-close-button {
  color: rgb(162, 162, 162);
}
.leaflet-notification.alert {
  background-color: rgba(199, 66, 67, 0.95);
  color: #f3f3f3;
  border: solid rgb(138, 7, 20);
  border-width: 0 0 0 4px;
}
.leaflet-notification.info {
  background-color: rgba(61, 171, 198, 0.95);
  color: #f3f3f3;
  border: solid rgb(55, 134, 170);
  border-width: 0 0 0 4px;
}
.leaflet-notification.success {
  background-color: rgba(74, 162, 85, 0.95);
  color: #f3f3f3;
  border: solid rgb(48, 131, 51);
  border-width: 0 0 0 4px;
}
.leaflet-notification.warning {
  background-color: rgba(237, 154, 71, 0.95);
  color: #f3f3f3;
  border: solid rgb(197, 103, 2);
  border-width: 0 0 0 4px;
}
.leaflet-notification.custom {
  background-color: rgba(228, 228, 228, 0.95);
  color: rgb(73, 73, 73);
  border: solid rgb(162, 162, 162);
  border-width: 0 0 0 4px;
}
.leaflet-notification-content {
  display: table-cell;
  vertical-align: middle;
}
.leaflet-notification-title,
.leaflet-notification-message {
  margin-left: 10px;
}
.leaflet-notification
  > .leaflet-notification-content
  > .leaflet-notification-title {
  font-weight: 800;
}
.leaflet-notification-close-button {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  float: right;
}
.leaflet-notification-close-button:hover {
  font-size: 22px;
  color: red;
}
.leaflet-notification-icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 22pt;
  width: 30px;
}
.pastel > .leaflet-notification.alert {
  background-color: rgba(248, 215, 218, 0.95);
  color: rgb(114, 28, 36);
  border: solid rgb(114, 28, 36);
  border-width: 0 0 0 4px;
}
.pastel > .leaflet-notification.success {
  background-color: rgba(212, 237, 218, 0.95);
  color: rgb(21, 87, 36);
  border: solid rgb(21, 87, 36);
  border-width: 0 0 0 4px;
}
.pastel > .leaflet-notification.warning {
  background-color: rgba(255, 243, 205, 0.95);
  color: rgb(133, 100, 4);
  border: solid rgb(133, 100, 4);
  border-width: 0 0 0 4px;
}
.pastel > .leaflet-notification.info {
  background-color: rgba(209, 236, 241, 0.95);
  color: rgb(12, 84, 96);
  border: solid rgb(12, 84, 96);
  border-width: 0 0 0 4px;
}
.pastel > .leaflet-notification.custom {
  background-color: rgba(235, 235, 235, 0.95);
  color: rgb(80, 80, 80);
  border: solid rgb(80, 80, 80);
  border-width: 0 0 0 4px;
}
.pastel > .leaflet-notification.alert > .leaflet-notification-icon > i,
.pastel > .leaflet-notification.alert > .leaflet-notification-close-button {
  color: rgb(114, 28, 36);
}
.pastel > .leaflet-notification.info > .leaflet-notification-icon > i,
.pastel > .leaflet-notification.info > .leaflet-notification-close-button {
  color: rgb(12, 84, 96);
}
.pastel > .leaflet-notification.success > .leaflet-notification-icon > i,
.pastel > .leaflet-notification.success > .leaflet-notification-close-button {
  color: rgb(21, 87, 36);
}
.pastel > .leaflet-notification.warning > .leaflet-notification-icon > i,
.pastel > .leaflet-notification.warning > .leaflet-notification-close-button {
  color: rgb(133, 100, 4);
}
.pastel > .leaflet-notification.custom > .leaflet-notification-icon > i,
.pastel > .leaflet-notification.custom > .leaflet-notification-close-button {
  color: rgb(80, 80, 80);
}
.modern > .leaflet-notification {
  border-radius: 2px;
  color: rgb(51, 51, 51);
}
.modern > .leaflet-notification.alert {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid rgb(204, 39, 56);
  border-width: 0 0 0 4px;
}
.modern > .leaflet-notification.success {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid rgb(50, 218, 63);
  border-width: 0 0 0 4px;
}
.modern > .leaflet-notification.warning {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid rgb(254, 190, 20);
  border-width: 0 0 0 4px;
}
.modern > .leaflet-notification.info {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid rgb(26, 118, 229);
  border-width: 0 0 0 4px;
}
.modern > .leaflet-notification.custom {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid rgb(94, 94, 94);
  border-width: 0 0 0 4px;
}
.modern > .leaflet-notification.alert > .leaflet-notification-icon > i {
  color: rgb(204, 39, 56);
}
.modern > .leaflet-notification.info > .leaflet-notification-icon > i {
  color: rgb(26, 118, 229);
}
.modern > .leaflet-notification.success > .leaflet-notification-icon > i {
  color: rgb(50, 218, 63);
}
.modern > .leaflet-notification.warning > .leaflet-notification-icon > i {
  color: rgb(254, 190, 20);
}
.modern > .leaflet-notification.custom > .leaflet-notification-icon > i {
  color: rgb(94, 94, 94);
}
.modern
  > .leaflet-notification
  .leaflet-notification-content
  .leaflet-notification-message,
.modern > .leaflet-notification > .leaflet-notification-close-button {
  color: rgb(118, 118, 118);
}
:root {
  --radis-glow: 40px;
  --opacity-glow: 0.3;
  --radis-flare: 30px;
  --opacity-flare: 0.5;
  --color-permanent: rgb(254, 254, 1);
  --color-temporary: rgba(254, 211, 0, 1);
}
.leaflet-marker-pane .light {
  width: 200px !important;
  height: 200px !important;
  margin-top: -100px !important;
  margin-left: -100px !important;
  background: transparent !important;
  border: transparent !important;
}
.leaflet-marker-pane .light .glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  opacity: 0;
  background: -webkit-radial-gradient(
    rgba(254, 211, 0, 1),
    rgba(255, 223, 67, 0) 70%
  );
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.leaflet-marker-pane .light .flare {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  opacity: 0;
  background: rgba(255, 223, 67, 0);
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes highlight-glow {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  100% {
    width: var(--radis-glow);
    height: var(--radis-glow);
    opacity: var(--opacity-glow);
  }
}
@keyframes highlight-flare {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  100% {
    width: var(--radis-flare);
    height: var(--radis-flare);
    opacity: var(--opacity-flare);
  }
}
.permanent .glow {
  background: -webkit-radial-gradient(
    var(--color-permanent),
    rgba(255, 223, 67, 0) 70%
  ) !important;
  animation: highlight-glow 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.permanent .flare {
  background: var(--color-permanent) !important;
  animation: highlight-flare 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
img:hover + .light.temporary .glow {
  background: -webkit-radial-gradient(
    var(--color-temporary),
    rgba(255, 223, 67, 0) 70%
  );
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
img:hover + .light.temporary .flare {
  background: var(--color-temporary);
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* latin-ext */
@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sacramento/v15/buEzpo6gcdjy0EiZMBUG4CMf_exL.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sacramento/v15/buEzpo6gcdjy0EiZMBUG4C0f_Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
