.leaflet-ruler {
  height: 48px;
  width: 48px;
  background-image: url("../assets/img/measure.png");
  background-repeat: no-repeat;
  background-position: center;
}
.leaflet-ruler:hover {
  background-image: url("../assets/img/measure-colored.png");
  cursor: pointer;
}
.leaflet-ruler-clicked {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/img/measure-colored.png");
  border-color: darkblue !important;
}
.leaflet-bar {
  background-color: #ffffff;
  cursor: pointer;
}
.leaflet-control {
  cursor: pointer;
}
.result-tooltip {
  background-color: white;
  border-width: medium;
  border-color: darkblue;
  font-size: smaller;
}
.moving-tooltip {
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: darkblue;
  font-size: smaller;
}
.plus-length {
  padding-left: 45px;
}
