.leaflet-control-weather {
  color: white;
  font-weight: bolder;
  background: lightslategray;
  opacity: 0.6;
  font-size: 0.75em;
  width: 185px;
}

.leaflet-control-weather .weatherButton {
  min-width: 185px;
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
}

.leaflet-control-weather .weatherIcon {
  float: left;
  border: 2px solid lightslategray;
  font-size: 2.5em;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 7px;
}

.leaflet-control-weather .weatherIcon img {
  max-width: 100% !important;
}

.leaflet-control-weather h4 {
  font-size: 1.5em;
}
