@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom: 15px;
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 17vh;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.img-card img {
  width: 40%;
  height: 17vh;
  object-fit: fill;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.control-buttons {
  display: inline;
}

.btn {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.score-container,
.question-container {
  height: 100px;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 2px;
  border: solid 1px black;
  background-color: hsl(210deg 60% 98.0392156863%);
  padding: 0.5rem;
  font-weight: bold;
}

.score {
  color: darkgreen;
}

.question-country {
  font-weight: bold;
  font-size: 2rem;
}

.img-card img {
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
}

.right-answer {
  border: 8px solid green;
}

.wrong-answer {
  border: 8px solid red;
}

.column {
  margin-top: 5px;
}

.heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: cornflowerblue;
  font-family: cursive;
}

.question-country-container {
  margin-top: 10px;
  color: darkblue;
}

.countries-container {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.question-img-country {
  width: 100px;
  height: 50px;
  border: solid 1px black;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.country-option {
  display: inline-block;
  width: 100%;
  height: 17vh;
  text-align: center;
  color: black;
  line-height: 17vh;
  font-weight: bold;
  font-size: 2rem;
}
