@-moz-document url-prefix() {
  .leaflet-bootstrap-dropdowns button .fa,
  .leaflet-bootstrap-dropdowns button .fab,
  .leaflet-bootstrap-dropdowns button .far,
  .leaflet-bootstrap-dropdowns button .fas {
    margin-top: 0.05rem;
    margin-bottom: -0.05rem;
  }
}

.leaflet-bootstrap-dropdowns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* to make webkit and moz consistent */
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  font-size: 1.375rem;
  color: white;
  background-color: white !important;
  border: 0.125rem solid rgba(0, 0, 0, 0.2) !important;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.33) 0 0.125rem 0.375rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -khtml-text-size-adjust: none;
}

.leaflet-bootstrap-dropdowns .btn svg {
  fill: grey;
  width: 1.375rem;
  height: 1.375rem;
}

.leaflet-bootstrap-dropdowns .btn.show {
  color: rgba(var(--primary-rgb), 1);
  background-color: white !important;
  border-color: darkblue !important;
}

.leaflet-bootstrap-dropdowns .btn.show svg {
  fill: darkblue;
}

.leaflet-bootstrap-dropdowns .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.leaflet-bootstrap-dropdowns .btn:focus-visible {
  /* border-color: black !important; */
  border-color: rgba(var(--primary-rgb), 1) !important;
}

.leaflet-bootstrap-dropdowns.menu {
  margin: 0 !important;
  left: 0.5rem;
  top: 0.5rem;
}

.leaflet-bootstrap-dropdowns .dropdown-item {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 0.85rem;
  font-weight: normal;
  color: black;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.leaflet-bootstrap-dropdowns .dropdown-item i {
  width: 1.75rem;
  text-align: center;
}

.leaflet-bootstrap-dropdowns .dropdown-item.current {
  font-weight: bold;
  color: rgba(var(--primary-rgb), 1);
  cursor: default;
}

.leaflet-bootstrap-dropdowns .dropdown-item:active,
.leaflet-bootstrap-dropdowns .dropdown-item:hover,
.leaflet-bootstrap-dropdowns .dropdown-item.current:active {
  color: #6495ed;
  background-color: rgba(var(--primary-rgb), 1) !important;
}

.leaflet-bootstrap-dropdowns .dropdown-item.current:hover {
  color: white;
  background-color: rgba(128, 128, 128, 1) !important;
}

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper-map {
  display: table;
  height: 5vh;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom: 15px;
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5),
    0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 17vh;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.img-card img {
  width: 40%;
  height: 17vh;
  object-fit: fill;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.control-buttons {
  display: inline;
}

.btn {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 0.7rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.score-container,
.score-container-map,
.question-container,
.question-timer,
.question-container-map {
  height: 100px;
  display: inline;
  margin-right: 3px;
  margin-left: 3px;
  border: solid 1px black;
  background-color: hsl(210deg 60% 98.0392156863%);
  padding: 0.3rem;
  font-weight: bold;
}

.score,
.score-map {
  color: darkgreen;
}

.question-country,
.question-country-map {
  font-weight: bold;
  font-size: 2rem;
}

.img-card img {
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
}

.right-answer {
  outline: 8px ridge rgba(2, 207, 43, 0.993);
}

.wrong-answer {
  outline: 8px ridge rgba(241, 1, 1, 0.735);
}

.column {
  margin-top: 5px;
}

.heading,
.heading-map,
.countries-game-heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: cornflowerblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.question-country-container,
.question-country-container-map {
  margin-top: 10px;
  color: darkblue;
}

.countries-container,
.guess-countries-game-container {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.question-img-country,
.question-img-country-map {
  width: 115px;
  height: 65px;
  border: solid 1px black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.country-option {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 17vh;
  text-align: center;
  color: black;
  line-height: 17vh;
  font-weight: bold;
  font-size: 2rem;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
}

@media (min-width: 300px) {
  .img-card > img {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .img-card > img {
    width: 40%;
  }
}

@media (min-height: 200px) and (max-height: 550px) {
  .heading-map {
    font-size: 1rem;
    display: none;
  }
}

@media (min-height: 550px) {
  .heading-map {
    display: block;
  }
}

@media (min-height: 200px) and (max-height: 550px) {
  .score-container-map,
  .question-container-map {
    font-size: 0.8rem;
  }
}

@media (min-height: 200px) and (max-height: 550px) {
  .question-country-map {
    font-size: 1.2rem;
  }
}

@media (min-height: 200px) and (max-height: 550px) {
  .next-map,
  .return-map,
  .start-map,
  .finish-map,
  .do-not-know-map {
    font-size: 0.5rem;
  }
}

@media (min-height: 1024px) {
  .heading-map {
    font-size: 2.5rem;
  }
}

@media (min-height: 1024px) {
  .heading-map {
    display: block;
  }
}

@media (min-height: 1024px) {
  .score-container-map,
  .question-container-map {
    font-size: 1.5rem;
  }
}

@media (min-height: 1024px) {
  .question-country-map {
    font-size: 2.5rem;
  }
}

@media (min-height: 1024px) {
  .next-map,
  .return-map,
  .start-map,
  .finish-map,
  .do-not-know-map {
    font-size: 1rem;
  }
}
